.raceCourse {
  background-image: url('./images/raceCourse.png');
  background-repeat: repeat-y;
  background-size: auto;
}

p {
  color: white;
}

h1 {
  margin-left: 25%;
}

.racer {
  z-index: 1;
  padding-left: 30px;
  background-image: url('./images/donkey.png');
  background-repeat: no-repeat;
  height: 50px;
}

.place0 {
  margin-left: 0%;
}

.place1 {
  margin-left: 10%;
}

.place2 {
  margin-left: 20%;
}

.place3 {
  margin-left: 30%;
}

.place4 {
  margin-left: 40%;
}

.place5 {
  margin-left: 50%;
}

.place6 {
  margin-left: 60%;
}

.place7 {
  margin-left: 70%;
  border: 1px solid red;
  width: 80px;
}