.racer {
  padding-left: 30px;
  background-image: url('./images/donkey.png');
  background-repeat: no-repeat;
  height: 50px;
}

.place0 {
  margin-left: 2%;
}

.place1 {
  margin-left: 14%;
}

.place2 {
  margin-left: 26%;
}

.place3 {
  margin-left: 38%;
}

.place4 {
  margin-left: 50%;
}

.place5 {
  margin-left: 62%;
}

.place6 {
  margin-left: 74%;
}

.place7 {
  margin-left: 86%;
  border: 1px solid red;
  width: 80px;
}